
.swiper
    width: 100%
    padding-top: 50px
    padding-bottom: 50px

.swiper-slide
    background-position: center
    background-size: cover
    width: 300px
    height: 0 !important

.swiper-pagination
    bottom: 44px !important

.mySwiper
    --swiper-pagination-color: #C62020
    --swiper-pagination-bullet-inactive-color: #D9D9D9
    --swiper-pagination-bullet-inactive-opacity: 1
    --swiper-pagination-bullet-size: 10px
