.co_worker
    margin-bottom: 85px
    width: 131px
    height: 131px
    display: flex
    justify-content: center
    background-color: white
    border-radius: 100px
    align-items: center
    box-shadow: 0 0 5px 2px #00000024
    margin-top: 5px
    @media screen and ( max-width: 1040px )
        width: 100px
        height: 100px
    @media screen and ( max-width: 991px )
        width: 100px
        height: 100px
    @media screen and ( max-width: 767px )
        width: 150px
        height: 150px
        margin: 10px auto
        margin-bottom: 65px