.container
    margin-bottom: 50px
    width: 100%

.title
    text-align: center
    margin-bottom: 20px
    font-size: 48px
    font-weight: 700
    line-height: 79px
    @media screen and ( max-width: 991px )
        font-size: 35px
    @media screen and ( max-width: 767px )
        font-size: 35px

.desktop
    display: block
    @media screen and ( max-width: 767px )
        display: none

.mobile
    display: none
    @media screen and ( max-width: 767px )
        display: block